@{
	ViewData["Title"] = "Access was Denied";
}
<div class="margin-bar-bottom-500 container">
	<div class="justify-content-center align-items-center d-flex">
		<div class="margin-bar-top-300">
			<h1>@ViewData["Title"]</h1>
			<p>You don´t have the right premissions to access this page</p>
		</div>
	</div>
</div>
