<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt=""></div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="HomeView" asp-action="Index">HOME</a>
            <a class="link" asp-controller="ItemsView" asp-action="Items">PRODUCTS</a>
            <a class="link" asp-controller="ContactView" asp-action="Index">CONTACTS</a>
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="View" asp-action="Search"><i class="fa-regular fa-search"></i></a>
            
        
            
            @if(SignInManager.IsSignedIn(User))
            {
                <a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="link" asp-controller="AccountView" asp-action="account">@User.Identity?.Name</a>
                <a class="link" asp-controller="SignOutView" asp-action="Index">Logout</a>
            }
            else
            {
                <a class="link" asp-controller="SignInView" asp-action="SignIn">LOGIN</a>
                <a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
            }

            <a class="link" asp-controller="AdminView" asp-action="admin">Admin</a>

                          
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>


